%columnas{
    column-gap: 1rem;
}

%medidas1{
    width: 370px;
    height: 570px;
}

%medidas2{
    width: 320px;
    height: 520px;
}

%font{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
